.Container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between containers */
}

.jenkinsformContainer {
  flex: 1;  /* Take up available space */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.jenkinsformContainer h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.jenkinsformContainer label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.jenkinsformContainer input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.jenkinsformContainer button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.jenkinsformContainer button[type="submit"]:hover {
  background-color: #0056b3;
}

.jenkinslastContainer {
  flex: 1;  /* Take up available space */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;

}

.jenkinslastContainer h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.jenkinslastContainer label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.jenkinslastContainer input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.jenkinslastContainer button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.jenkinslastContainer button[type="submit"]:hover {
  background-color: #0056b3;
}
